.comentCard{
    width: 40%;
    background-color: var(--brown);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.comentCard img{
    margin-top: -50px;
    border-radius: 50%;
}
.coment p{
    padding: 2rem 1rem 1rem 1rem;
    line-height: 25px;
}
.client p{
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .comentCard{
        width: 100%;
    }
  
  }
  @media screen and (min-width: 769px) and (max-width: 1280px){
    .comentCard{
        width: 40%;
    }
  
  }
