#home{
    background: url(../../../images/header-bg.webp);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--header-text-color);
}
.headerContainer{
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,.5);
}
a{
    color: var(--header-text-color);
    text-decoration: none;
}