.headerContainer{
  width: 100%;
  min-height: 100vh;
  background: url(../../../images/header-bg.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--header-text-color);
  position: relative;
}
.fader{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.3);
  position: relative;
}
