.greetingContainer{
    width: 30%;
    margin: auto;
    margin-top: 13%;
    text-align: center;
}
.greetings h2{
    font-size: 24pt;
    font-family: var(--logo-font-family);
    margin: 1rem 0;
}
.greetings h3{
    font-size: 18pt;
}
.greetingContainer p{
    font-size: 16pt;
}
.reservar button{
    background-color: var(--brown);
    border-radius: 5px;
    margin: 1.5rem 0;
    border: none;
}
.reservar button a{
    color: var(--header-text-color);
    text-transform: uppercase;
    line-height: 50px;
    text-decoration: none;
    padding: 1rem 3rem;
}
.reservar button:hover{
    background-color: var(--hover-brown);
}
@media screen and (max-width: 1023px){
    .greetingContainer{
        width: 80%;
        margin-top: 30%;
    }
}
