#footer{
    background: #000;
    width: 100%;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footerLogo,
.footerLink{
    width: 50%;
    margin-top: 1rem;
}
.footerLogo{
    display: flex;
    justify-content: center;
    color: var(--brown);
}
.footerLogo h1{
    font-size: 32pt;
}
.developer{
    text-align: center;
    line-height: 50px;
}
.developer p{
    color: #fff;
}
.developerName{
    text-decoration: none;
    font-weight: 600;
}
.year{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .footerContainer{
        flex-direction: column;
        justify-content: center;
    }
    .footerLogo,
    .footerLink{
    width: 100%;
}
}