@font-face {
  font-family: 'Open Sans';
  src: url(../src/assets/fonts/OpenSans-Regular.woff);
}
@font-face {
  font-family: 'Great Vibes';
  src: url(../src/assets/fonts/GreatVibes-Regular.woff);
}
html{
  scroll-behavior: smooth;
}
:root{
  /*----------------COLORS--------------*/
  /*-------------LIGHT MODE-------------*/
  --body-bg-color: #ffffff;
  --header-text-color: #fff;
  --services-bg-color: rgb(248, 246, 246);
  --servicesCard-bg-color: #fff;
  --services-box-shadow: 2px 2px 5px rgb(128, 128, 128);
  --services-border: 1px solid rgb(131, 130, 130);
  --brown: rgb(124, 126, 14);
  --hover-brown: rgb(141, 141, 10);

  /*--------FONT-SIZE-----------------*/
  --logo-font-family : 'Great Vibes', Cursive, Arial, sans-serif;
  --link-font-size: 15pt;
  --paragraph-font-size: 14pt;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
}
body p{
  font-size: var(--paragraph-font-size);
}

































/* :root{ */
  /*------FONT-FAMILY-----------*/
  /* --logo-font-family: cursive, sans-serif; */

  /*--------FONT-SIZE------------*/
  /* --link-font-size: 14pt; */
  /*-------------COLORS------------*/
  /* --header-text-color: #fff;
  --brown: rgb(124, 126, 14);
  --hover-brown: rgb(141, 143, 41);
} */
/* html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
